 # Set the default behavior to automatically normalize line endings
 * text=auto

 # Explicitly declare text files to be normalized
 *.c text
 *.h text

 # Declare files that should always have CRLF line endings
 *.sln text eol=crlf

 # Denote all binary files
 *.png binary
 *.jpg binary
