 # Set the default behavior to automatically normalize line endings
 * text=auto

 # Explicitly declare text files to be normalized
 *.md text
 *.php text
 *.py text
 *.sh text eol=lf
 *.xml text

 # Denote all binary files
 *.png binary
 *.jpg binary
